body {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  color: grey;
  background: rgb(77,202,207);
  background: linear-gradient(145deg, rgba(77,202,207,1) 0%, rgba(107,173,121,1) 57%, rgba(90,175,80,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}

.animation-area{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.384);
  animation: animate 20s linear infinite;
  bottom: -300px;
  border-radius: 10px;
  z-index: 1;
}

.box-area li:nth-child(1){
  left: 85%;
  width: 300PX;
  height: 300px;
  animation-delay: 0s;
  animation-duration: 30s;
}

.box-area li:nth-child(2){
  left: 12%;
  width: 30PX;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3){
  left: 70%;
  width: 100PX;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4){
  left: 50%;
  width: 150PX;
  height: 150px;
  animation-delay: 0;
  animation-duration: 15s;
}

.box-area li:nth-child(5){
  left: 65%;
  width: 40PX;
  height: 40px;
  animation-delay: 0;
}

.box-area li:nth-child(6){
  left: 15%;
  width: 110PX;
  height: 110px;
  animation-delay: 0;
}

.box-area li:nth-child(7){
  left: 25%;
  width: 150PX;
  height: 150px;
  animation-delay: 0;
  animation-duration: 12s;
}

.box-area li:nth-child(8){
  left: 45%;
  width: 50PX;
  height: 50px;
  animation-delay: 2;
}

.box-area li:nth-child(9){
  left: 67%;
  width: 110PX;
  height: 110px;
  animation-delay: 0;
}
@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-900px) rotate(360deg);
    opacity: 0;
  }
}

h1 {
  font-size: 20px;
  color: black;
  margin-left: 48px;
  font-weight:normal;
}

.fading_line{ 
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #aaa));
  margin-bottom: 15px;
}

.horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 650px;
  width: 1200px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #aaa;
  z-index: 2;
}

.left{
  display: flex;
  flex-direction: column;
  height: 680px;
  width: 480px;
  border-radius: 5px;
  -webkit-box-shadow: -15px -14px 2px 1px rgba(68,227,142,0.41);
  -moz-box-shadow: -15px -14px 2px 1px rgba(68,227,142,0.41);
  box-shadow: -15px -14px 2px 1px rgba(68,227,142,0.41);
  margin-left: -1px;
  background-color: white;
  z-index: 2;
}

.right{
  height: 620px;
  width: 720px;
  background-color: white;
  overflow-y: scroll;
}

.para{
  line-height: 25px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table.first_table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 50px 0;
  margin-bottom: 20px;
}

div.leftinfo{
  height: 180px;
  width: 290px;
  margin-left: 42px;
  margin-top: 25px;
}

div.rightinfo{
  height: 180px;
  width: 300px;
  }

h2{
  font-size: 13px;
  color: black;
  font-weight:normal;
}

.imgdev{
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.imgcar{
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  }

.bg{
  height: 300px;
  background-image: url("../assets/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float:left;
  transition: all 0.75s ease-out;
  }

.pp{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-image: url("../assets/me.jpg");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  margin-top: -6rem;
  -webkit-box-shadow: -7px 5px 0px 1px rgba(91,235,170,0.48);
  -moz-box-shadow: -7px 5px 0px 1px rgba(91,235,170,0.48);
  box-shadow: -7px 5px 0px 1px rgba(91,235,170,0.48);
  transition: all 0.75s ease-out;
}

.name{
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  transition: all 0.75s ease-out;
}

.metier{
  color: green;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.icon{
  height: 30px;
  width: 30px;
}

.icons{
  display: flex;
  justify-content: space-evenly;
  margin: 50 0 50px;
}

.dlcontact{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.cv{
  font-size: 13px;
  color: black;
  text-decoration: none;
}

.dl{
  height: 15px;
}

.contact{
  font-size: 13px;
  text-decoration: none;
}

.mail{
  height:15px;
}

.resume{
  display: flex;
  margin-top: 20px;
}

.resume2{
  display: flex;
  margin-top: 20px;
}

.experience{
  display: block;
  margin-left: 30px;
  width: 300px;
}

.experience2{
  display: block;
  margin-left: 30px;
  width: 300px;
}

.exp{
  width: 300px;
  height: 225px;
  margin-top: 15px;
  margin-left: 20px;
}

.annee{
  border: 1px solid rgb(84, 196, 33);
  border-radius: 5px;
  width: 89px;
  color:  rgb(84, 196, 33);
  font-size: 15px;
  margin-top: 25px
}

.job{
font-size: 18px;
color: black;
margin-top: 15px;
}

.company{
  font-size: 16px;
  margin-top: 5px;
  color: rgb(143, 143, 143);
}

.logos{
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
}

.wrapper{
  width: 300px;
  height: 225px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.wrapper .card .circle{
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  text-align: center;
}
.circle .box span{
  font-size: 20px;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
}
@media(max-width: 753px){
  .wrapper{
    max-width: 700px;
  }
  .wrapper .card{
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media(max-width: 505px){
  .wrapper{
    max-width: 500px;
  }
  .wrapper .card{
    width: 100%;
  }
}

.chk{
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.desck{
  margin-top: 10px;
}
.knowledge{
  display: flex;
  flex-direction: column;
  height: 225px;
  margin-left: 20px;
  margin-top: 15px;
  text-align: left;
  justify-content: space-evenly;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color:rgb(143, 143, 143);
  border-radius: 20px;
}

.text-slider-items { 
  display: none; 
} 
.text-slider{
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  font-size: 25px;
}
.heading { 
  text-align: center; 
  height: 50px;
} 

.heading h3 { 
  color: rgb(84, 196, 33); 
  font-size: 20px; 
} 

.langue{
  align-content: center;
  margin-left: 30px;
}
.name_langue{
  height: 30px;
}
.dots{
  height: 50px;
  width: 100%;
  margin-left: 20px;
}
.dot {
  height: 14px;
  width: 14px;
  background-color: rgb(84, 196, 33);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.dots :nth-child(10){
  background-color:rgb(211, 211, 211);
}

.dotsA{
  height: 50px;
  width: 100%;
  margin-left: 20px;
}
.dotsA :nth-child(7){
  background-color: rgb(211, 211, 211);
}
.dotsA :nth-child(8){
  background-color: rgb(211, 211, 211);
}
.dotsA :nth-child(9){
  background-color: rgb(211, 211, 211);
}
.dotsA :nth-child(10){
  background-color: rgb(211, 211, 211);
}

.langue_design{
  display: flex;
}

.langage_name{
  margin: 5px
}

.design{
  width: 350px;
  margin-left: 30px;
  height: 250px;
}
.design_name{
  margin: 5px;
}
.barre{
  background: rgb(211, 211, 211);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 3px;
  display: flex;
  height: 10px;
  width: 300px;
}
.green_barS{
  animation: loadS 3s normal forwards;
  border-radius: 100px;
  background: rgb(84, 196, 33);
  height: 5px;
  width: 0;
}
.green_barL{
  animation: loadL 3s normal forwards;
  border-radius: 100px;
  background: rgb(84, 196, 33);
  height: 5px;
  width: 0;
}
.green_barP{
  animation: loadP 3s normal forwards;
  border-radius: 100px;
  background: rgb(84, 196, 33);
  height: 5px;
  width: 0;
}
.green_barWD{
  animation: loadWD 3s normal forwards;
  border-radius: 100px;
  background: rgb(84, 196, 33);
  height: 5px;
  width: 0;
}
@keyframes loadS {
  0% { width: 0; }
  100% { width: 35%; }
}
@keyframes loadL {
  0% { width: 0; }
  100% { width: 20%; }
}
@keyframes loadP {
  0% { width: 0; }
  100% { width: 20%; }
}
@keyframes loadWD {
  0% { width: 0; }
  100% { width: 15%; }
}

.violondingres{
  width: 100%;
  margin-top: 15px;
}

.second_table{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.vd{
  text-align: center;
  position: relative;
  margin: 0;
}
.logosvd{
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
}
.iconVD{
  height: 25px;
}

/* -------------------------------------------------------------SMALLER SCREENS-------------------------------------------------------------*/

@media(min-width: 768px) and (max-width: 1388px){
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 17px;
    color: black;
    font-weight:normal;
  }
  .horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    width: 960px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #aaa;
    z-index: 2;
  }
  .left{
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 330px;
    border-radius: 5px;
    -webkit-box-shadow: -15px -14px 2px 1px rgba(68,227,142,0.41);
    -moz-box-shadow: -15px -14px 2px 1px rgba(68,227,142,0.41);
    box-shadow: -15px -14px 2px 1px rgba(68,227,142,0.41);
    margin-left: -1px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }
  .right{
    height: 470px;
    width: 620px;
    background-color: white;
    overflow-y: scroll;
  }
  .bg{
    height: 225px;
    background-image: url("../assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
  .pp{
    transform-style: preserve-3d;
    height: 150px;
    width: 150px;
  }
  .name{
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 22px;
  }
  .text-slider{
    font-size: 20px;
  }
  .para{
    line-height: 20px;
    width: 500px;
  }
  table.first_table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px 0;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .experience{
    display: block;
    margin-left: 0px;
  }
  .exp{
    margin-left: 16px;
  }
  .desc{
    width: 280px;
  }
  .langage_name{
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .dots{
    height: 20px;
    margin-left: 20px;
  }
  .dotsA{
    height: 20px;
    width: 100%;
    margin-left: 20px;
  }
  .dot {
    height: 14px;
    width: 14px;
    background-color: rgb(84, 196, 33);
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
  }
  .langue_design{
    display: flex;
  }
  .langue{
    margin-left: 0px;
    height: 250px;
    width: 300px;
  }
  .barre{
    width: 260px;
  }
  .design{
    width: 300px;
    height: 250px;
    margin-left: 20px;
  }
  .box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -100px;
    border-radius: 10px;
    z-index: 1;  }
  .box-area li:nth-child(1){
    left: 80%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 30s;
  }
  .box-area li:nth-child(2){
    left: 12%;
    width: 15px;
    height: 15px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .box-area li:nth-child(3){
    left: 70%;
    width: 50px;
    height: 50px;
    animation-delay: 5.5s;
  }
  .box-area li:nth-child(4){
    left: 50%;
    width: 75PX;
    height: 75px;
    animation-delay: 0;
    animation-duration: 15s;
  }
  .box-area li:nth-child(5){
    left: 65%;
    width: 20PX;
    height: 20px;
    animation-delay: 0;
  }
  .box-area li:nth-child(6){
    left: 15%;
    width: 55PX;
    height: 55px;
    animation-delay: 0;
  }
  .box-area li:nth-child(7){
    left: 25%;
    width: 75px;
    height: 75px;
    animation-delay: 0;
    animation-duration: 12s;
  }
  .box-area li:nth-child(8){
    left: 45%;
    width: 25px;
    height: 25px;
    animation-delay: 2;
  }
  .box-area li:nth-child(9){
    left: 67%;
    width: 55px;
    height: 55px;
    animation-delay: 0;
  }
}

/* -------------------------------------------------------------PHONE-------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
  body {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 0;
  }
  .animation-area{
    display: none;
  }

  h1 {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-left: 0px;
    font-weight:normal;
  }
  
  .fading_line{ 
    height: 1px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #aaa));
    margin-bottom: 15px;
    width: 95vw;
  }
  
  .horizontal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap ;
    align-items: center;
    border-radius: 0px;
    border: none;
    height: auto;
    border-radius: 30px;
    background-color: transparent;
  }
  
  .left{
    width: 95vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    }

  .bg{
    height: 45%;
    background-image: url("../assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    }
  
  .pp{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-image: url("../assets/me.jpg");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    margin-top: -6em;
    -webkit-box-shadow: -7px 5px 0px 1px rgba(91,235,170,0.48);
    -moz-box-shadow: -7px 5px 0px 1px rgba(91,235,170,0.48);
    box-shadow: -7px 5px 0px 1px rgba(91,235,170,0.48);
  }
  
  .name{
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
  }
  
  .right{
    width: 95vw;
    margin-top: 20px;
    background-color: transparent;
    overflow-y: visible;
    border-radius: 30px;
    height: auto;
  }

  .aboutme{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
  }
  
  .para{
    line-height: 25px;
    width: 90vw;
    text-align: center;
  }
  
  table.first_table{
    display: none;
  }

  .resume{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    width: 95vw;
  }
  
  .experience{
    display: block;
    width: 95vw;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
  }

  .resume2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    width: 95vw;
    height:auto;
  }
  
  .experience2{
    display: block;
    width: 95vw;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
  }

  .formation{
    height: auto;
    width: 95vw;
    align-items: center;
    margin-top: 20px;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
  }

  .formation2{
    height: auto;
    width: 95vw;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    margin-top: 20px;
  }
  
  .exp{
    width: 95vw;
    margin-top: 0px;
    text-align: center;
    margin-left: 0;
    height: 13rem;
  }
  
  .annee{
    border: 1px solid rgb(84, 196, 33);
    border-radius: 5px;
    width: 89px;
    color:  rgb(84, 196, 33);
    font-size: 15px;
    margin-top: 25px;
    margin: auto;
  }
  
  .job{
  font-size: 18px;
  color: black;
  margin-top: 15px;
  }
  
  .company{
    font-size: 16px;
    margin-top: 5px;
    color: rgb(143, 143, 143);
  }

  .wrapper{
    width: 95vw;
    height: 140vh;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  canvas{
    min-height: 10rem;
    min-width: 10rem;
  }
  .card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
  }
  .wrapper .card .circle{
    position: relative;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    cursor: default;
  }
  .card .circle .box,
  .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: larger;
  }
  .card .circle .box{
    height: 10rem;
    width: 10rem;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
  }
  .card .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
  }
  .card .circle .box span,
  .wrapper .card .text{
    text-align: center;
  }
  .circle .box span{
    font-size: 20px;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
  }
  .card .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
  }
  .card .text{
    font-size: 20px;
  }
 
  @media(max-width: 753px){
    .wrapper{
      max-width: 700px;
    }
    .wrapper .card{
      width: calc(50% - 20px);
      margin-bottom: 20px;
    }
  }
  @media(max-width: 505px){
    .wrapper{
      max-width: 500px;
    }
    .wrapper .card{
      width: 100%;
    }
  }
  
  .icon{
    height: 30px;
    width: 30px;
  }
  
  .icons{
    display: flex;
    justify-content: space-evenly;
    margin: 50 0 50px;
  }
  
  .dlcontact{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .cv{
    font-size: 13px;
    color: black;
    text-decoration: none;
  }
  
  .dl{
    height: 15px;
  }
  
  .contact{
    font-size: 13px;
    text-decoration: none;
  }
  
  .mail{
    height:15px;
  }
  
  .logos{
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .chk{
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .desck{
    margin-top: 10px;
  }
  .knowledge{
    display: flex;
    flex-direction: column;
    height: 225px;
    margin-left: 20px;
    margin-top: 0px;
    text-align: left;
    justify-content: space-evenly;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color:rgb(143, 143, 143);
    border-radius: 20px;
  }
  
  .text-slider-items { 
    display: none; 
  } 
  .text-slider{
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
    font-size: 25px;
  }
  .heading { 
    text-align: center; 
    height: 50px;
  } 
  
  .heading h3 { 
    color: rgb(84, 196, 33); 
    font-size: 20px; 
  } 
  
  .langue{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    height: 40vh;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    margin-top: 20px;
  }
  .name_langue{
    height: 30px;
  }
  .dots{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-left: 0px;
  }
  .dot {
    height: 14px;
    width: 14px;
    background-color: rgb(84, 196, 33);
    border-radius: 50%;
    display: inline-block;
    margin-left: 0px;
  }
  
  .dots :nth-child(10){
    background-color:rgb(211, 211, 211);
  }
  
  .dotsA{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-left: 0px;
  }
  .dotsA :nth-child(7){
    background-color: rgb(211, 211, 211);
  }
  .dotsA :nth-child(8){
    background-color: rgb(211, 211, 211);
  }
  .dotsA :nth-child(9){
    background-color: rgb(211, 211, 211);
  }
  .dotsA :nth-child(10){
    background-color: rgb(211, 211, 211);
  }
  
  .langue_design{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .langage_name{
    margin: 5px
  }
  
  .design{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    margin-left: 0px;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px  rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    margin-top: 20px;
  }
  .design_name{
    margin: 0px;
  }
  .barre{
    background: rgb(211, 211, 211);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 6px;
    display: flex;
    height: 20px;
  }
  .green_barS{
    animation: loadS 3s normal forwards;
    border-radius: 100px;
    background: rgb(84, 196, 33);
    height: 10px;
    width: 0;
  }
  .green_barL{
    animation: loadL 3s normal forwards;
    border-radius: 100px;
    background: rgb(84, 196, 33);
    height: 10px;
    width: 0;
  }
  .green_barP{
    animation: loadP 3s normal forwards;
    border-radius: 100px;
    background: rgb(84, 196, 33);
    height: 10px;
    width: 0;
  }
  .green_barWD{
    animation: loadWD 3s normal forwards;
    border-radius: 100px;
    background: rgb(84, 196, 33);
    height: 10px;
    width: 0;
  }
  
  .violondingres{
    width: 100%;
    margin-top: 15px;
  }
  
  .second_table{
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .vd{
    text-align: center;
    position: relative;
    margin: 0;
  }
  .logosvd{
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .iconVD{
    height: 25px;
  }
}